@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Ticker Tape */
:root {
    --height: 150px;
    --speed: 30s;
  }
  
  * {
      
    margin: 0;
    padding: 0;
  }
  
  .ticker-tape {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
      helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    width: 100%;
    overflow: hidden;
    height: var(--height);
    padding-left: 100%;
    background-color: black;
  }
  
  .ticker-tape .ticker {
    height: var(--height);
    line-height: var(--height);
    white-space: nowrap;
    padding-right: 100%;
    
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: ticker;
    -webkit-animation-duration: var(--speed);
    
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: var(--speed);
    
  }
  
  .ticker-tape .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: 1.5rem;
    color: rgb(250, 248, 248);
  }
  
  @-webkit-keyframes ticker {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  
  @keyframes ticker {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

/* End of ticker tape */

body{
  background-image: url(https://media1.giphy.com/media/26BGIL92YmpSt38Qg/giphy.gif?cid=ecf05e47m04vigajce4apfqgyer3nl15b5l6dartj56w72al&rid=giphy.gif&ct=g);
  background-repeat: repeat;
  background-size: cover;
  opacity: 1.5;
}

.btn{
  margin-bottom: 1em;
  width: 30%;
  }

.card {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  background-color: black;
  color: blanchedalmond;
  overflow: hidden;
  text-align: center;
}



.card::before{
  content: '';
  position:absolute;
  width: 1200px;
  height: 100%;
  background: linear-gradient(#6800b1, #f2ff1a);
  animation: animate 4s linear infinite;
}

.card::after{
  content: '';
  position: absolute;
  inset: 4px;
  border-radius: 16px;
  background: black;
}

@keyframes animate
{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 150px;
  margin-bottom: -50px;
  background-image: url(https://media3.giphy.com/media/YqhIK6Gbor6CLeloBq/giphy.gif?cid=ecf05e4764ganfigg28e1osvz8jd8zk9hxjsj9y4bhm16h5m&rid=giphy.gif&ct=g);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


h3{
  text-align: center;
  font-family: 'Bebas Neue';
  font-size: 100px;
}

.card h5{
  position: relative;
  color: blanchedalmond;
  z-index: 10;
}

.card p{
  position: relative;
  color: blanchedalmond;
  z-index: 10;
}

.card a{
  position: relative;
  color: blanchedalmond;
  z-index: 10;
}

.offcanvas-header{
  background-color: black;
}

.offcanvas-title{
  color: white;
}

.offcanvas-body{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (min-width: 40em) {
    .split {
        display: flex;
        gap: 2em;
    }}